@use '/src/app/styles/mixins' as *;

.root {
  @include reset-button;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-height: 64px;
  padding-inline: 32px;

  font-size: 16px;
  font-weight: 500;

  background-color: var(--color-white);
  border-radius: 4px;
}
