@use '/src/app/styles/functions' as *;
@use '/src/app/styles/mixins' as *;

.what {
  background-color: var(--color-green-tertiary);

  .inner {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;

    padding-block: 48px;

    @media (max-width: 767.98px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .body {
    max-width: 704px;
    padding-inline-start: calcValue(0, 96, 474, 1024);
  }
  .h2 {
    display: flex;
    gap: 0 24px;
  }
  .h3 {
    margin-top: 0;
  }
  .description {
    margin-bottom: 48px;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 24px 0;

    padding-inline-start: 24px;

    list-style: none;

    border-left: 1px solid var(--color-border);
  }
  li {
    display: flex;
    gap: 0 24px;
  }
  .itemImg {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    width: 28px;
    height: 28px;

    background-color: var(--color-green-primary);
    border-radius: 4px;

    svg * {
      fill: var(--color-white);
    }
  }
  .itemBody {
  }
  .itemTitle {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
  }
  picture {
    img {
      border-radius: 12px;
    }
  }
}
